$clr-main: #f44336;
$clr-blue: #2d8cf0;
$clr-green: #19be6b;
$clr-yellow: #ff9900;
$clr-red: #ed3f14;
$clr-bg:#f8f8f9;
$clr-line: #e9eaec;
$clr-border: #dddee1;
$clr-disabled: #bbbec4;
$clr-sub: #80848f;
$clr-content: #495060;
$clr-title: #1c2438;
$clr-black: #222;
$clr-white: #fff;
